# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# hardhat config file
#/solidity/hardhat.config.js


# solidity auxiliary ABI outputs
/solidity/output/_CloneFactory_sol_Clones.abi
/solidity/output/Escrow_sol_Escrow.abi
/solidity/output/IERC20_sol_IERC20.abi
/solidity/output/ReentrancyGuard_sol_ReentrancyGuard.abi

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# npm 
package-lock.json
yarn.lock
