.currenciesList {
    > input[type="radio"] {
        display: none;

        + .currencyItem {
            @extend %FlexRow-CenterBetween;
            width: 100%;
            padding: 12px 10px;
            @include Relative;
            cursor: pointer;
            @include BorderRadius(0.7rem);
            @include Transition(0.2s);

            &:after {
                content: "";
                @include Absolute($Left: 0, $Right: 0, $Bottom: 0);
                border-bottom: 1px solid #e9ecef;
            }

            &::before {
                @include Transition(0.2s);
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
            }

            .currencyIcon {
                position: relative;

                .currencyIc {
                    @include Size(32px, 32px);
                }
            }

            .currencyDetails {
                flex: 2;
                padding: 0 10px;
                letter-spacing: 0;
                position: relative;

                h2 {
                    @include Font(null, 1.1rem, $FontColorDark, null, 500);
                }

                h5 {
                    @include Font(
                        null,
                        0.75rem,
                        rgba($FontColorDark, 0.6),
                        null,
                        500
                    );
                }
            }

            .available {
                position: relative;
                @include Font(null, 1.2rem, $FontColorDark, null, 400);
            }

            &:hover {
                @include Transition(0.2s);

                &::before {
                    content: "";
                    @include Absolute(
                        $Left: 0,
                        $Top: 2px,
                        $Right: 0,
                        $Bottom: 3px
                    );
                    background-color: rgba($PrimaryColor, 0.1);
                    @include BorderRadius(1rem);
                    @include Transition(0.2s);
                }
            }
        }

        &:disabled {
            + .currencyItem {
                cursor: default;

                &:hover {
                    &::before {
                        background: none;
                    }
                }

                .currencyIcon {
                    opacity: 0.35;
                }

                .currencyDetails {
                    opacity: 0.35;
                }
                .available {
                    opacity: 0.35;
                }
            }
        }
    }
}

.darkMode {
    .currenciesList {
        > input[type="radio"] {
            + .currencyItem {
                &:after {
                    border-bottom-color: lighten($BorderLight, 5%);
                }

                .currencyDetails {
                    h2 {
                        color: $WhiteColor;
                    }

                    h5 {
                        color: rgba($FontColorLight, 0.6);
                    }
                }

                .available {
                    color: $FontColorLight;
                }

                &:hover {
                    &::before {
                        background-color: lighten($DarkBlueBg, 5%);
                    }
                }
            }

            &:disabled {
                + .currencyItem {
                    &:hover {
                        &::before {
                            background: none;
                        }
                    }
                }
            }
        }
    }
}
