.listData {
  @include Flexbox;
  @include FlexFlow(wrap);
  background: lighten($PrimaryColor, 55%);
  border: 1px solid $BorderDark;
  @include BorderRadius($CardRounded);
  padding: 7px 15px;
  position: relative;

  @include RespondTo(MobileDevices) {
    padding: 8px;
  }

  &::before {
    @include Absolute($Top: -10px, $Left: 20px);
    @include Triangle(Top, 10px, 7px, $PrimaryColor);
  }

  &::after {
    @include Absolute($Top: -10px, $Left: 20px);
    @include Triangle(Top, 10px, 7px, lighten($PrimaryColor, 55%));
  }

  .listDataItem {
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid $BorderDark;

    &:last-child {
      border-bottom: none;
    }

    .listItemLabel {
      width: 100%;
      @include Font(null, 0.75rem, $PrimaryColor, null, 600);

      @include RespondTo(MobileDevices) {
        font-size: 0.7rem;
      }
    }

    .listItemValue {
      width: 100%;
      @include Font(null, 1rem, $FontColorDark, null, 400);
      white-space: normal;

      @include RespondTo(MobileDevices) {
        font-size: 0.9rem;
        word-break: break-all;
      }
    }
  }
}

.darkMode {
  .listData {
    background: lighten($DarkBg, 5%);
    border-color: $BorderLight;

    &::before {
      @include Triangle(Top, 10px, 7px, $PrimaryColor);
    }

    &::after {
      @include Triangle(Top, 10px, 7px, lighten($DarkBg, 5%));
    }

    .listDataItem {
      border-bottom-color: $BorderLight;

      .listItemLabel {
        color: $LightBlueColor;
      }

      .listItemValue {
        color: $FontColorLight;
      }
    }
  }
}
