.dashboardBlocks {
  @include Flexbox;
  @include FlexFlow(wrap);
  @include JustifyContent(space-between);
  margin-top: 20px;

  .blockMain {
    width: calc(25% - 10px);
    background: $WhiteColor;
    @include Flexbox;
    @include FlexFlow(wrap);
    @include JustifyContent(space-between);
    @include BorderRadius($CardRounded);
    @include BoxShadow(0px 0px $CardRounded rgba($PrimaryColor, 0.15));

    @include RespondTo(IpadDevices) {
      width: calc(50% - 10px);
      margin-bottom: 15px;
    }

    @include RespondTo(MobileDevices) {
      width: 100%;
    }

    &:first-child {
      .blockIcon {
        background: $PrimaryColor;
      }
      .blockValue {
        h3 {
          color: $PrimaryColor;
        }
      }
    }

    &:nth-child(2) {
      .blockIcon {
        background: $SecondaryColor;
      }
    }

    &:nth-child(3) {
      .blockIcon {
        background: $OrangeColor;
      }
    }

    &:nth-child(4) {
      .blockIcon {
        background: $GreenColor;
      }
    }

    .blockIcon {
      width: 80px;
      background: rgba($BlackColor, 0.1);
      @include BorderRadius($CardRounded 0 0 $CardRounded);
      @extend %FlexCol-CenterCenter;

      @include RespondTo(SmallDesktop) {
        width: 60px;
      }

      @include RespondTo(MobileDevices) {
        width: 80px;
      }

      svg {
        @include RespondTo(SmallDesktop) {
          @include Size(40px, 40px);
        }

        @include RespondTo(MobileDevices) {
          @include Size(52px, 52px);
        }
      }
    }

    .blockValue {
      flex: 2;
      padding: 15px;
      border: 1px solid $WhiteColor;
      border-left: none;
      @include BorderRadius(0 $CardRounded $CardRounded 0);

      @include RespondTo(SmallDesktop) {
        padding: 12px;
      }

      @include RespondTo(MobileDevices) {
        padding: 15px;
      }

      h3 {
        @extend %FlexCol-StartCenter;
        @include Font(null, 1.2rem, $FontColorDark, 1.2rem, 600);
        margin: 0;
        min-height: 46px;

        @include RespondTo(SmallDesktop) {
          font-size: 1.1rem;
          line-height: 1.1rem;
        }

        @include RespondTo(MobileDevices) {
          font-size: 1rem;
          line-height: 1rem;
        }

        span {
          font-size: 0.75rem;
        }
      }

      .blockItemLabel {
        @include Font(null, 0.9rem, $FontColorDark, null, 400);
        margin: 0;

        @include RespondTo(SmallDesktop) {
          font-size: 0.8rem;
        }

        @include RespondTo(MobileDevices) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.chartContainer {
  @include Flexbox;
  @include FlexFlow(wrap);
  @include JustifyContent(space-between);

  .card {
    width: calc(50% - 10px);
    margin-top: 20px;

    @include RespondTo(MobileDevices) {
      width: 100%;
    }

    &.fullWidth {
      width: 100%;
    }
  }
}

.darkMode {
  .dashboardBlocks {
    .blockMain {
      background: transparent;
      @include BoxShadow(0px 0px $CardRounded rgba($DarkBg, 0.15));

      .blockValue {
        border-color: $BorderLight;

        h3 {
          color: $WhiteColor;
        }

        .blockItemLabel {
          color: $FontColorLight;
        }
      }
    }
  }
}
